$scheme-main: hsl(0, 0%, 10%);
$scheme-main-bis: hsl(0, 0%, 13%);
$scheme-main-ter: hsl(0, 0%, 20%);
$scheme-invert: hsl(0, 0%, 100%);
$scheme-invert-bis: hsl(0, 0%, 98%);
$scheme-invert-ter: hsl(0, 0%, 96%);
$background: hsl(0, 0%, 14%);
$text: hsl(0, 0%, 71%);
$text-strong: hsl(0, 0%, 79%);
$shadow: 0 0.5em 1em -0.125em rgba(hsl(0, 0%, 10%), 0.1),
  0 0px 0 1px rgba(hsl(0, 0%, 10%), 0.02);

@import "bulma/bulma.sass";
